@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    border-collapse: collapse;
    position: relative;
}

thead tr th {
    position: sticky;
    top: -1px;
    background-color: gray;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}

thead, tfoot {
    background-color: gray;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}

td.num {
    text-align: right;
}

.posicao {
    width: 60px;
}

.populacao {
    width: 60px;
}

.centro {
    text-align: center;
}