@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 7px;
}

.num {
    text-align: center;
}

.fundo-cinza {
    background-color: gray;
    color: white;
}

.esquerda {
    text-align: left;
}