@charset "UTF-8";

/* TODAS AS DEMAIS MEDIAS */

/* QUANDO FOR IMPRIMIR */
@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

/* QUANDO ABRIR O SITE NO TABLET */
@media screen and (min-width: 769px) and (max-width: 992px) {
    body {
        background: black url(../images/back-tablet.jpg) center center no-repeat;
        background-size: cover;
    }
    
    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

/* QUANDO ABRIR EM DESKTOP */
@media screen and (min-width: 993px) and (max-width: 1200px) {
   body {
    background: black url(../images/back-pc.jpg) center center no-repeat;
    background-size: cover;
   }

   img#phone {display: none;}
   img#tablet {display: none;}
   img#print {display: none;}
   img#pc {display: block;}
   img#tv {display: none;}
}

/* QUANDO ABRIR EM GRANDES TELAS */
@media screen and (min-width: 1201px) {
    body {
        background: black url(../images/back-tv.jpg) center center no-repeat;
        background-size: cover;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}