@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font-titulo: 'Passion One', cursive;
    --font-poema: 'Sriracha', cursive;
    --font-padrao: Arial, Helvetica, sans-serif


}

.fundo1 {
    background: white url(../imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
    box-shadow: 0px 7px 29px 0px #0000006b;
}

.fundo2 {
    background: white url(../imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
    box-shadow: 0px 7px 29px 0px #0000006b;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-family: var(--font-titulo);

}

header p {
    font-family: var(--font-padrao);
    padding-top: 15px;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

main p {
    font-family: var(--font-poema);
    padding: 25px;
    line-height: 35px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    font-family: var(--font-padrao);
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}