@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 500px;
}

caption {
    font-size: 1.3em;
    font-weight: bolder;
    padding: 8px;
    background-color: lightgray;
    border: 1px solid black;
}

th, td, tr {
    border: 1px solid black;
    padding: 8px;
}

.cnome {
    background-color: aqua;
}

/* .csexo {
    background-color: antiquewhite;
} */

.cidade {
    background-color: lightcoral;
}

/* .cprof {
    background-color: yellow;
} */